<%- include  header.ejs %>

<!-- The scrollable main view container -->
<main>
  <% if(metadata){ %>
    <img src="<%= metadata.image_url %>" />
  <% } %>
  <h5><%= book.author %><h5>
  <h2><%= book.title %></h2>
  <h5><%= book.genre %></h5>
  <p><%= book.description %></p>
  <% if(metadata){ %>
    <h5>Description from Goodreads</h5>
    <p><%- metadata.description %></p>
  <% } %>
  <form action="/detail/<%= book._id %>/delete" method="POST">
    <button type="submit">Delete book</button>
  </form>
</main>

<%- include  footer.ejs %>
